<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button id="back" (click)="goHome()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="margin-left: -50px">About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="icon">
    <p class="title">Tic-Tac-Toe</p>
    <p class="version">1.0.0</p>
    <a href="https://github.com/VarunS2002/" target="_blank" class="link">
      <p class="profile">VarunS2002</p>
    </a>
    <!--suppress HtmlUnknownTarget -->
    <img src="/assets/icon/icon_foreground.png" alt="">
    <a href="https://github.com/VarunS2002/Ionic-Tic-Tac-Toe/releases/" target="_blank" class="link">
      <p class="link" style="margin-top: -5px">Releases</p>
    </a>
    <a href="https://github.com/VarunS2002/Ionic-Tic-Tac-Toe/blob/main/README.md" target="_blank" class="link">
      <p class="link">Readme</p>
    </a>
    <a href="https://github.com/VarunS2002/Ionic-Tic-Tac-Toe/tree/main/tic-tac-toe" target="_blank" class="link">
      <p class="link">Source Code</p>
    </a>
    <a href="https://github.com/VarunS2002/Ionic-Tic-Tac-Toe/blob/main/LICENSE" target="_blank" class="link">
      <p class="link">License</p>
    </a>
  </div>
</ion-content>
